<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<ion-content class="ion-padding ion-text-center" >
  <img src="https://scontent.fmnl17-3.fna.fbcdn.net/v/t1.15752-9/296173946_328001326117964_3304490588127291010_n.png?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_ohc=jU99mA2n06sAX9LkTor&_nc_ht=scontent.fmnl17-3.fna&oh=03_AVKZsnw5x4RaKJ_Ln4tgBW08EZaQAjVsBBbs0mf3n7PUkw&oe=630DA0CF" id="logo"/>
  <ion-button id="startbtn" shape="round"  href="/home">Get Started</ion-button>
</ion-content>